* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    background-color: gold;
}

h2 {
    margin-left: 2rem;
    font-size: 2rem;
    margin-bottom: 1rem;
}

h3 {
    margin-left: 3rem;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 4rem;
}

dt {
    font-weight: 700;
    margin-left: 2rem;
}

dd {
    margin-left: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    letter-spacing: 1px;
}

